* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 22.448vw;
  background-color: #fff;
  z-index: 1;
}
header .navbar {
  padding: 0 3.2vw 0 4.8vw;
  height: 11.73333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .left a {
  display: block;
  width: 16.37066667vw;
  height: 11.75733333vw;
  line-height: 11.75733333vw;
}
header .navbar .left a .iconfont {
  font-size: 7.46666667vw;
  color: #fb7299;
}
header .navbar .right {
  width: 42.66666667vw;
  height: 11.73333333vw;
  display: flex;
  justify-content: space-between;
}
header .navbar .right .search {
  margin: 2.66666667vw 5.86666667vw 0 0;
  width: 5.86666667vw;
  height: 5.86666667vw;
}
header .navbar .right .search .iconfont {
  font-size: 5.86666667vw;
  color: #ccc;
}
header .navbar .right .face {
  vertical-align: top;
  margin: 2.66666667vw 3.2vw 0 0;
  width: 6.4vw;
  height: 6.4vw;
}
header .navbar .right .face img {
  width: 6.4vw;
  height: 6.4vw;
}
header .navbar .right .launch-app {
  width: 21.33333333vw;
  height: 11.73333333vw;
}
header .navbar .right .launch-app img {
  margin: 2.66666667vw 0 0 2.13333333vw;
  width: 19.2vw;
  height: 6.4vw;
}
header .channel-menu {
  height: 10.66666667vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
header .channel-menu ul {
  display: flex;
}
header .channel-menu ul li a {
  display: block;
  padding: 0 4.26666667vw;
  height: 10.66666667vw;
  text-align: center;
  line-height: 10.66666667vw;
}
header .channel-menu ul li a span {
  display: block;
  height: 10.66666667vw;
  font-size: 3.73333333vw;
}
header .channel-menu ul li a span.current {
  color: #fb7299;
  border-bottom: 2px solid #fb7299;
}
header .channel-menu ul li a span:hover {
  border-bottom: 2px solid #fb7299;
  color: #fb7299;
}
header .channel-menu .more {
  width: 10.66666667vw;
  height: 6.02666667vw;
}
header .channel-menu .more i .iconfont {
  font-size: 5.86666667vw;
}
.video-list-box {
  padding: 22.448vw 1.33333333vw 0;
}
.video-list-box .video-list {
  display: flex;
  flex-wrap: wrap;
}
.video-list-box .video-list a {
  padding: 2.13333333vw 1.33333333vw;
  width: 50%;
  height: 40vw;
  font-size: 3.2vw;
}
.video-list-box .video-list a .pic {
  position: relative;
}
.video-list-box .video-list a .pic img {
  width: 46.13333333vw;
  height: 25.86666667vw;
}
.video-list-box .video-list a .pic .count {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.33333333vw 1.6vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 3.2vw;
}
.video-list-box .video-list a .text {
  margin-top: 1.33333333vw;
  height: 8vw;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
